@import '../../../styles/mixin/media';

section.section-machine {
  padding-top: 100px;

  opacity: 0;
  transition: all 0.2s ease-in;
  
  div[class^='line'] {
    position: relative;

    background: var(--primary-theme-color);
  }

  h2 {
    margin-bottom: 5px;
    margin-left: -250px;
  }

  .line-group-1 {
    position: relative;
    z-index: 1;
    width: 340px;

    margin-left: auto;
    margin-right: auto;

    background: none !important;

    .line-1 {
      width: 170px;
      height: 2px;
    }

    .line-2 {
      margin-left: 170px;
      margin-top: -2px;

      width: 2px;
      height: 200px;
    }
    .line-3 {
      margin-left: 170px;

      width: 15px;
      height: 2px;
    }
    .line-4 {
      margin-left: 185px;
      margin-top: -2px;

      width: 2px;
      height: 13px;
    }
  }

  .line-group-2 {
    margin-top: 40px;

    position: relative;
    z-index: 1;

    width: 40px;

    margin-left: auto;
    margin-right: auto;

    background: none !important;
    .line-1 {
      margin-left: auto;
      width: 2px;
      height: 15px;
    }

    .line-2 {
      width: 15px;
      height: 2px;

      margin-left: 38px;
    }
    .line-3 {
      width: 2px;
      height: 200px;

      margin-left: 53px;
      margin-top: -2px;
    }
    .line-4 {
      width: 35px;
      height: 2px;

      margin-left: 20px;
    }
  }

  .machine {
    position: absolute;
    z-index: 0;

    margin-top: -220px;
    margin-left: 20px;

    width: 480px;
    height: 480px;

    left: calc(50% - 240px);

    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      position: absolute;
      font-weight: 400;
      font-size: 28px;
      line-height: 27px;

      color: var(--primary-theme-color);
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
