@import '../../../styles/mixin/media';

.section-origin {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 150px 1fr;

  opacity: 0;
  transition: all 0.2s ease-in;

  margin-top: 180px !important;

  .origin-background {
    position: absolute;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 200%;

    z-index: 0;
    background: linear-gradient(0deg, #00e0ff, #00e0ff);
    opacity: 0.5;

    filter: blur(200px);
  }

  .origin-header {
    position: absolute;

    left: calc(50% - 100px);
    top: -32px;

    h3 {
      font-family: 'Iceland';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;

      color: #00e0ff;

      text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
      margin: 0;
    }

    .line {
      width: 100px;
      height: 2px;
    }
  }

  p {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    // color: rgba(230, 230, 230, 0.8);
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.25);
  }

  .image-wrapper {
    display: flex;
    align-items: center;

    position: relative;
    z-index: 1;

    img {
      display: block;
      margin-left: auto;

      width: 200px;
    }
  }

  .line-main {
    height: 100%;
  }

  .origin-description {
    position: relative;
    z-index: 1;
    padding-top: 30px;

    h3 {
      font-weight: 400;
      font-size: 50px;
      line-height: 48px;

      margin-bottom: 10px;
      margin-top: 20px;

      text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    }
  }

  @include media-md {
    margin-top: 50px;
    grid-template-columns: 1fr;

    .origin-header {
      display: none;
    }

    .image-wrapper {
      p {
        opacity: 1 !important;
      }
    }
  }
}
