@import '../../../styles/mixin/media';

.section-video {
  position: relative;

  h3 {
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */

    color: #ffffff;
    text-align: center;
  }

  .video-wrapper {
    position: relative;

    max-width: 1270px;
    width: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54));
    border: 1px solid #86eae9;
    box-sizing: border-box;
    border-radius: 17px;

    display: flex;
    justify-content: center;

    overflow: hidden;

    > div {
      width: 50% !important;
      height: auto !important;
    }

    .video-hover {
      position: absolute;
      width: 100% !important;
      height: 100% !important;

      background: linear-gradient(
        90deg,
        #86eae922,
        #86eae900,
        #00000055,
        #00000099,
        #00000099,
        #00000055,
        #86eae900,
        #86eae922
      );
      transition: all 0.3s ease-in;
      opacity: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      .video-controller {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          text-align: center;

          color: #ffffff;
        }
      }
    }

    &:hover {
      .video-hover {
        opacity: 1;
      }
    }
  }

  @include media-sm {
    .video-wrapper {
      > div {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}
